<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image Tag Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="ratio-169"> {# remove class if you want 4:3 #}
  <header class="site-header">
    <a class="brand" href="{{ url_for('home') }}">Image Tag Search</a>
    <nav></nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <script>
    const SUGGEST_API = "{{ url_for('api_suggest') }}";
  </script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
